<!DOCTYPE html>
<html lang="en">
<%- include ("head")%>

<body>
   
    
    <header>
        
            <video class="video" src="https://carontestudio.com/img/f4.mp4" autoplay="true" muted="true" loop="true"></video>
           
        <ul class="log-in">
            <ui>Log In</ui>&nbsp&nbsp&nbsp&nbsp <!-- eso es para poner espacios en blanco-->
            <ui> <a href="pages/registrate.html">Registrate</a></ui>
        </ul>
        <h2 class="frase-header">Bienvenidos al futuro del Crowdfunding!</h2>

        <ul class="palabras-header">
            <li><a href="pages/contacto.html">Contacto</a></li>
            <li><a href="pages/creaTuProyecto.html">Create Your Project</li>
            <li><a href="#">Who We Are</a></li>
            <li><a href="pages/ourVision.html">Our Vision</a></li>
        </ul>
    </header>
    
    <main>

        <div class="fila-1">
            <form action="/buscar-producto" method="POST" class="formulario"></form>
            <input type="text" name="Barra Búsqueda" placeholder="Search" class="input-barra">
        </div>

    <section class="section1">

        <article>
            <a href="pages/proyecto1.html">
              <h4 class="title">Parques Nacionales</h4>
              <img src="imagenes/wild-life.jpg" alt="Imagen de parque nacional">
            </a>
            <ul class="cajaArticulo01">
              <li class='description-proyect'><b>Ayuda a los parques nacionales de Argentina. Acordarme de mejorar la caja del proyecto</b></li>
            </ul>
          </article>

          <article>
            <a href="pages/proyecto1.html">
              <h4 class="title">Parques Nacionales</h4>
              <img src="imagenes/wild-life.jpg" alt="Imagen de parque nacional">
            </a>
            <ul class="cajaArticulo01">
              <li class='description-proyect'><b>Ayuda a los parques nacionales de Argentina. Acordarme de mejorar la caja del proyecto</b></li>
            </ul>
          </article>

          <article>
            <a href="pages/proyecto1.html">
              <h4 class="title">Parques Nacionales</h4>
              <img src="imagenes/wild-life.jpg" alt="Imagen de parque nacional">
            </a>
            <ul class="cajaArticulo01">
              <li class='description-proyect'><b>Ayuda a los parques nacionales de Argentina. Acordarme de mejorar la caja del proyecto</b></li>
            </ul>
          </article>

          <article>
            <a href="pages/proyecto1.html">
              <h4 class="title">Parques Nacionales</h4>
              <img src="imagenes/wild-life.jpg" alt="Imagen de parque nacional">
            </a>
            <ul class="cajaArticulo01">
              <li class='description-proyect'><b>Ayuda a los parques nacionales de Argentina. Acordarme de mejorar la caja del proyecto</b></li>
            </ul>
          </article>

    </section>



</main>
    <footer>
        <h4>Where to find us</h4>
        <h6> Calle Falsa 123, CABA </h6>
        <h6> Redes sociales: no hay.</h6>

    </footer>

</body>

</html>