<header>
        
    <video class="video" src="https://carontestudio.com/img/f4.mp4" autoplay="true" muted="true" loop="true"></video>
   
<ul class="log-in">
    <ui>Log In</ui>&nbsp&nbsp&nbsp&nbsp <!-- eso es para poner espacios en blanco-->
    <ui> <a href="pages/registrate.html">Registrate</a></ui>
</ul>
<h2 class="frase-header">Bienvenidos al futuro del Crowdfunding!</h2>

<ul class="palabras-header">
    <li><a href="pages/contacto.html">Contacto</a></li>
    <li><a href="pages/creaTuProyecto.html">Create Your Project</li>
    <li><a href="#">Who We Are</a></li>
    <li><a href="pages/ourVision.html">Our Vision</a></li>
</ul>
</header>