<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    nuevo usuario!
    <form action="/users/guardar" method="post">
        <input type="text" name="name" id="name" placeholder="Nombre de Usuario">        
        <input type="text" name="apellido" id="apellido" placeholder="Apellido de Usuario">        
        <button type="submit">Guardar</button>        
    </form>
</body>
</html>