<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
   
    
    <header>
        
            <video class="video" src="https://carontestudio.com/img/f4.mp4" autoplay="true" muted="true" loop="true"></video>
           
        <ul class="log-in">
            <ui>Log In</ui>&nbsp&nbsp&nbsp&nbsp <!-- eso es para poner espacios en blanco-->
            <ui>Registrate</ui>
        </ul>
        <h2 class="frase-header">Bienvenidos al futuro del Crowdfunding!</h2>

        <ul class="palabras-header">
            <li><a href="#">Browse Projects</a></li>
            <li><a href="#">Create Your Project</li>
            <li><a href="#">Who We Are</a></li>
            <li><a href="#">Our Vision</a></li>
        </ul>

        <div class="fila-1">
            <form action="/buscar-producto" method="POST" class="formulario"></form>
            <input type="text" name="Barra Búsqueda" placeholder="Search" class="input-barra">
            </form>
        </div>
        
    </header>
    
    <main>
    <section class="section1">

        <article>
            <h4>xxxx</h4>
            <img src="imagenes/wild-life.jpg" width='250' height='250' alt="logo">
            <ul class="cajaArticulo01" style="list-style: none">
                <div class="preciosYdescuentos">
                    <li class='precios'>$6.770</li>
                    <li class='descuentos'>40% OFF</li>
                </div>
                <li class='descripciones'><b>Cafetera Moulinex</b></li>
            </ul>
        </article>

        <article>
            <h4>xxxx</h4>
            <img src="imagenes/wild-life.jpg" width='250' height='250' alt="logo">
            <ul class="cajaArticulo02" style="list-style: none">
                <i class="fas fa-truck camion"></i>
                <div class="preciosYdescuentos">
                    <li class='precios'>230.000</li>
                    <li class='descuentos'>20% OFF</li>
                </div>
                <li class='descripciones'><b>MacBook Pro 2019</b></li>
            </ul>
        </article>

        <article>
            <h4>xxxx</h4>
            <img src="imagenes/wild-life.jpg" width='250' height='250' alt="logo">
            <ul class="cajaArticulo03" style="list-style: none">
                <i class="fas fa-truck camion"></i>
                <div class="preciosYdescuentos">
                    <li class='precios'>$70500</li>
                    <lic lass='descuentos'>10% OFF</li>
                </div>
                <li class='descripciones'><b>Samsung Galaxy 510</b></li>
            </ul>
        </article>

        <article>
            <h4>xxxx</h4>
            <img src="imagenes/wild-life.jpg" width='250' height='250' alt="logo">
            <ul class="cajaArticulo04" style="list-style: none">
                <i class="fas fa-truck camion"></i>
                <div class="preciosYdescuentos">
                    <li class='precios'>$23200</li>
                    <li class='descuentos'>5% OFF</li>
                </div>
                <li class='descripciones'><b>SmarTv Samsung 43''</b></li>
            </ul>
        </article>
            <img src="/images/wildlifee.jpg">
    </section>

</main>

    <footer>
        <h4>Where to find us</h4>
        <h6> Calle Falsa 123, CABA </h6>
        <h6> Redes sociales: no hay.</h6>

    </footer>

</body>

</html>